<div class="flex gap-3">
    <span id="formChoiceState" class="font-bold text-lg text-black/60 text-left w-14">Form</span>
    <label for="formSwitch" class="flex items-center cursor-pointer select-none text-dark dark:text-white">
        <div class="relative">
            <input type="checkbox" id="formSwitch" class="peer sr-only" />
            <div class="block h-8 rounded-full bg-gray-300 dark:bg-black/20 w-14"></div>
            <div
                class="absolute flex items-center justify-center w-6 h-6 transition bg-white rounded-full dot dark:bg-black/50 left-1 top-1 peer-checked:translate-x-full peer-checked:bg-primary *:*:transition-transform">

            </div>
        </div>
    </label>
</div>